body{
    padding: 20px;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
 }
 #navbar{
     display: flex   ;
     justify-content: space-between;
     align-items: center;
 }
 #right-nav{
     width: 20%;
     display: flex;
   
 }
 a{
     text-decoration: none;
 }
 .nav{
     color: black;
     font-size: larger;
 }